<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Tweeter</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/style.css" media="screen">

    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" defer></script>
    <script src="/newTwitTemplate.js" defer></script>
    
    <script src="/index.js" charset="utf-8" defer></script>

  </head>

  <body>

    <header>
      <a href="#"><h1 class="site-title"><i class="far fa-hand-lizard"></i> tweeter</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="#">Home</a></li>
          <li class="navitem navlink"><a href="#">Trending</a></li>
          <li class="navitem navlink"><a href="#">People</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
    </header>

    {{{body}}}

  </body>

</html>