.site-title{
    color: rgb(255, 255, 255);
    background-color: rgb(30, 144, 250);   
    margin: 0;
    padding: 10px;
    font-size: 40px;
    font-weight: 100;
}

body{
    font-style: normal;
    font-family: 'Roboto';
    margin: 0;
    background-color: rgb(240, 240, 240);
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    color: rgb(100, 149, 237);    
}

button{
    border: none;
    cursor: auto;
    background-color: rgb(255, 255, 255);
}

button:hover{
    color: rgb(100, 149, 237);    
}

button .fas.fa-bullhorn{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    box-shadow: 5px 5px 10px rgb(180, 180, 180);
    font-size: 60px;
    width: 95px;
    height: 75px;
    right: 18px;
    bottom: 18px;
    padding-top: 12px;
    padding-bottom: 0px;
    border-radius: 50%;
    position: fixed;
    text-align: medium;
}

button .fas.fa-bullhorn:hover{
    background-color: rgb(0, 144, 250);   
    font-size: 64px;
    width: 99px;
    height: 79px;
    padding-top: 14px;
    padding-bottom: 2px;
    position: fixed;
    text-align: medium;
}

.navbar{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

.navlist{
    margin: 0;
    padding: 0;
}

.navitem{
    display: inline-block;
    padding: 9px 18px;
}

.navitem.navlink.active{
    border: solid;
    border-width: medium;
    border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgba(0, 150, 250, 1) rgb(255, 255, 255);
}

.navitem.navbar-search{
    float: right;
}

#navbar-search-input{
    background-color: rgb(240, 240, 240);
}

#navbar-search-input:focus{
    background-color: rgb(255, 255, 255);
}

.twit-container{
    background-color: rgb(240, 240, 240);
    margin: 0;
    border: 0;
    padding: 140px;
    padding-top: 35px;
    padding-bottom: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 75%;
}

.twit{
    border-radius: 0%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    margin: 2px;
    padding: 15px;
    min-width: 180px;
    max-width: 25%;
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
}

.twit-author{
    font-weight: 800;
    display: block;
    text-align: end;
}

.twit-icon{
    margin: 15px;
    font-size: 20px;
}

.twit-content{
    flex: 1 50%;
    display: inline-block;
    margin: 0;
    min-width: 75%;
}
